@-moz-viewport { width:device-width; scale: 1;}
@-ms-viewport { width:device-width; scale: 1;}
@-o-viewport { width:device-width; scale: 1;}
@-webkit-viewport { width:device-width; scale: 1;}
@viewport { width:device-width; scale: 1;}

html{
	box-sizing: border-box;
	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-webtext-text-size-adjust:100%;
	
	font-family:normal/'Antic', sans-serif;
	background-size: 150px auto;
	background-color: white;
	color: Black;
}

*, *::before, *::after{ 
	box-sizing: inherit;
}



h1{
	margin-top: 0;
	color: black;
	font-family:'Antic';
	font-weight: bold;
	font-size: 3rem;
	text-align: left;
	bottom: 5%;
	padding-top: 3rem;
	
}
.photonaz {
	width: 25%;
	float: left;

}

p{
	font-family:'Antic';
	margin:0;
	display: block;
	clear: left;
}

a{
	display: block;

}

a img{
	margin: 0.5em;

}

footer a{
	display: block;
	width: 30%;
	margin: 0 auto;

}

@media only screen and (min-width: 25em){


	h1{
		color: red;
		font-size: 3rem;
		margin: 0;
		font-family:'Antic';
		font-weight: bold;
		text-align: center;
		padding: 0;
	}
	p{
		width:70%;
		top: 10em;
		display: inline;
		padding-top: 5rem;
	}
	footer{
		width: 70%;
		float: right;
	}
	footer a{
	display: inline-block;
	width:20%;
	left: 55rem;
	}
}


@media only screen and (min-width: 50em){
	
h1{
	color: green;
	font-size: 5rem;
}

footer a{

}
		
	}
}
@media only screen and (min-width: 65em){
	
	h1{
		color: blue;
		font-size: 5rem;
		width:70%;
		top: 3.5em;
		right: 0;
	}
	p{
		position: absolute;
		float: left;
	
	}


footer a{
	
	display: inline-block;
	top: 20em;
}

}